/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text-eel:#4b4b4b;
	--color-text-marine:#052C60;
	--color-background-snow:#ffffff;
	--color-feather-green: #58cc02;
	--color-mask-green: #89e219;
	--color-secondary-blue: #1cb0f6;
	--color-secondary-grey: #E5E5E5;
	--color-buttonborder-green: rgb(88,167,0);
	--color-superduolingo: #100F3E;
	--color-superduolingo-buttonshadow: #88879F;
}

@font-face {
	font-family: Feather;
	src: url(../fonts/FeatherBold.otf);
	font-weight: bold;
}

@font-face {
	font-family: DINNext;
	src: url(../fonts/DINNextRoundedLTPro-Light.otf);
	font-weight: 300;
}

@font-face {
	font-family: DINNext;
	src: url(../fonts/DINNextRoundedLTPro-Regular.otf);
	font-weight: 400;
}

@font-face {
	font-family: DINNext;
	src: url(../fonts/DINNextRoundedLTPro-Medium.otf);
	font-weight: 500;
}

@font-face {
	font-family: DINNext;
	src: url(../fonts/DINNextRoundedLTPro-Bold.otf);
	font-weight: 600;
}

/****************/
/* JOUW STYLING */
/****************/

.noDisplay {
	display: none;
}

body { 
	padding: 0;
	margin: 0;
	font-family: DINNext, Arial, Helvetica, sans-serif;
	color: var(--color-text-eel);
}

a {
	text-decoration: none;
}