/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text-eel:#4b4b4b;
	--color-background-snow:#ffffff;
	--color-feather-green: #58cc02;
	--color-mask-green: #89e219;
	--color-secondary-blue: #1cb0f6;
	--color-secondary-grey: #E5E5E5;
	--color-buttonborder-green: rgb(88,167,0);
}

@font-face {
	font-family: Feather;
	src: url(../fonts/FeatherBold.otf);
	font-weight: bold;
}

@font-face {
	font-family: DINNext;
	src: url(../fonts/DINNextRoundedLTPro-Light.otf);
	font-weight: 300;
}

@font-face {
	font-family: DINNext;
	src: url(../fonts/DINNextRoundedLTPro-Regular.otf);
	font-weight: 400;
}

@font-face {
	font-family: DINNext;
	src: url(../fonts/DINNextRoundedLTPro-Medium.otf);
	font-weight: 500;
}

@font-face {
	font-family: DINNext;
	src: url(../fonts/DINNextRoundedLTPro-Bold.otf);
	font-weight: 600;
}

/****************/
/* JOUW STYLING */
/****************/

.noDisplay {
	display: none;
}

body { 
	padding: 0;
	margin: 0;
	font-family: DINNext, Arial, Helvetica, sans-serif;
	color: var(--color-text-eel);
}

header {
	display: flex;
	/* position: sticky; */
	justify-content: center;
	height: 4.375em;
	background-color: var(--color-background-snow);
	align-items: center;
	position: fixed;
	width: 100vw;

}

header.scroll {
	border-bottom: solid 2px var(--color-secondary-grey);
}

header img {
	height: 2.375em;
}

main {
	padding: 1em;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	padding-top: 10em;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

main img {
	width: 75%;
}

h1 {
	font-family: DINNext, Arial, Helvetica, sans-serif;
	font-weight: 500;
	/* margin-bottom: 3em; */
	font-size: 2em;
	height: 20vh;
}

h2 {
	text-transform: lowercase;
	font-family: Feather, Arial, Helvetica, sans-serif;
	color: var(--color-feather-green);
	font-size: 2.3em;
	letter-spacing: 0.03em;
}

p {
	font-size: 1.15em;
	font-weight: 300;
	color: #777;
}


section:first-of-type  {
	/* margin-top: 20vh; */
	/* height: 100vh; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

section p a {
	color: var(--color-secondary-blue);
	font-weight: 500;
}

section > a, header a {
	text-transform: uppercase;
	color: var(--color-background-snow);
	background-color: var(--color-feather-green);
	box-shadow: 0 4px 0 var(--color-buttonborder-green);
	border-radius: 0.75em;
	height: 3.125em;
	width: 20.625em;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	letter-spacing: 0.05em;
	margin-bottom: 1em;
	font-size: 0.95em;
}

a:active {
	box-shadow: none;
	transform: translateY(4px) translateZ(0);
}

a:nth-of-type(2) {
	text-transform: uppercase;
	border-radius: 0.75em;
	height: 3.125em;
	width: 20.625em;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	letter-spacing: 0.05em;
	margin-bottom: 1em;
	background-color: var(--color-background-snow);
	border: 2px solid var(--color-secondary-grey);
	color: var(--color-secondary-blue);
	box-shadow: 0 2px 0 var(--color-secondary-grey);
	font-size: 0.95em;

}

a:nth-of-type(2):active {
	box-shadow: none;
	transform: translateY(2px) translateZ(0);
}

header a {
	height: 2.5em;
	width: auto;
	padding: 1em;
	margin: 0;
}